{erl_opts, [debug_info]}.
{deps, [
  {lager,
    {git, "https://github.com/basho/lager.git",
      {tag, "3.2.0"}}},

  {gproc,
    {git, "https://github.com/uwiger/gproc.git",
      {tag, "0.6"}}},

  {erocksdb,
   {git, "https://gitlab.com/barrel-db/erocksdb.git",
    {branch, "barrel-alpha"}}}
]}.
